# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
Data
rg.help.txt
p9_v01_all_combined__body...RMD.pdf
p9_v01_prep_data_for_p8_to_load...RMD.pdf
2026 06 20 ms word updating disaster log copy.md
2026-06-20-ms-word-updating-disaster-log-copy.html
2026-06-20-ms-word-updating-disaster-log-copy.log
2026-06-20-ms-word-updating-disaster-log-copy.tex
