p8_v10_all_combined__body__abridged_to_Discussion.log
p8_v10_all_combined__body__abridged_to_Discussion.tex
p8_v12_all_combined__body__ARCHIVED_MATERIAL_FROM_DUMMY_APPENDICES.log
p8_v12_all_combined__body__ARCHIVED_MATERIAL_FROM_DUMMY_APPENDICES.tex
p8_v13_all_combined__body__abridged_to_Discussion.pdf
p8_v12_all_combined__body__abridged_to_Discussion.pdf
p8_v11_all_combined__body__abridged_to_Discussion.pdf
p8_v10_all_combined__body__abridged_to_Discussion.pdf
p8_v12_all_combined__body__ARCHIVED_MATERIAL_FROM_DUMMY_APPENDICES.pdf
p8_v10_all_combined__body copy.Rmd
p8_v10_all_combined__body__abridged_to_Discussion.Rmd
p8_v11_all_combined__body copy.Rmd
p8_v11_all_combined__body__abridged_to_Discussion.Rmd
p8_v12_all_combined__body copy.Rmd
p8_v12_all_combined__body__ARCHIVED_MATERIAL_FROM_DUMMY_APPENDICES.Rmd
p8_v12_all_combined__body__abridged_to_Discussion.Rmd
p8_v13_all_combined__body copy.Rmd
p8_v13_all_combined__body__abridged_to_Discussion.Rmd
