p9_v01_all_combined__body.log
p9_v01_all_combined__body.tex
p9_v01_prep_data_for_p8_to_load_from_files.tex
p9_v01_all_combined__body.pdf
p9_v01_prep_data_for_p8_to_load_from_files.pdf
Figs
p9_v01_all_combined__body_cache
p9_v01_prep_data_for_p8_to_load_from_files_cache
p9_v01_all_combined____APP__supplemental_information.tex
p9_v01_all_combined____APP__supplemental_information.log
p9_v01_all_combined____APP__supplemental_information.pdf
p9_v01_all_combined____COR__supplemental_information.pdf
p9_v01_all_combined____COR__supplemental_information.tex
p9_v01_all_combined__body.docx
p9_v01_all_combined__body.wordCountVersion.docx
claude
p9_v01_all_combined__body.forWordCount.docx
Saved_plots
